*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
}
.road {
    width: 1800px;
    height: 1000px;
    background-image: url(../img/дорога.webp);
    background-size: 100% 100%;
    animation-name: road-anime;
    animation-duration:5s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes road-anime{
  0%{
background-position: 0px;
  }
  
  100%{
      background-position: 1800px;
  }
}
.car{
    position: relative;
    top: 700px;
    left: 50px;
    transform: skewY(1deg);
    
}

.tire{
    position: absolute;
    top: 127px;
    left:60.5px;
    animation-name: tire-anime;
    animation-duration:5s ;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.tire-right{
    position: absolute;
    top: 127px;
    left:352px;
    animation-name: tire-anime;
    animation-duration:5s ;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes tire-anime {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
